.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.header .header__title{
    font-size: 28px;
    font-weight: bold;
}

.header .header__icon {
    font-size: 20px;
    margin-left: 25px;
    cursor: pointer;
}
.header .header__header-columns{
    display: flex;
    align-items: center;

}
.header .header__back-btn{
    font-size: 22px;
    margin-right: 10px;
    
}