.nav {
    position: fixed;
    width:100%;
    padding: 20px 50px;
    left: 0px;
    bottom: 0px;
    background-color: grey;
    border-top: 1px solid black;
    justify-content: space-between;
}
.nav .nav__list{
    display: flex;
    justify-content: space-between;
}
.nav i {
    font-size: 30px;
}
.nav .nav__list-lilnk{
    position: relative;
}
.nav .nav__badge {
    position: absolute;
    top: -10px;
    right: 0px;
    color: white;
    background-color: red;
    width:10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 10px;

}